<div>
  <mat-card>
    <div>
      <label class="form-label" for="num_of_dice">Number of Dice</label>
      <input class="form-label box" id="num_of_dice" type="number" name="num_of_dice" min=1 placeholder=1 mat-form-field />
    </div>
    <div>
      <label class="form-label" for="size_of_dice">Size of Dice</label>
      <input class="form-label box2" id="size_of_dice" type="number" name="num_of_dice" min=1 placeholder=20 mat-form-field />
    </div>

    <mat-card-actions>
      <button mat-button class="btn">Roll 1d20</button>
    </mat-card-actions>
  </mat-card>
</div>